body {
    background-image: url("https://i.giphy.com/media/l4KihuqeuJEi9qLSM/giphy.webp");
    background-size: 150px;
}

#counter {
    position: absolute;
    bottom: 30px;
    align-self: center
}

a {
    font-size: 20px;
}

#menu {
    margin: auto;
    background-color: orange;
    height: 500px;
    width: 300px;
    left: auto;
    position: absolute;
}

#maincontent {
    background-color: #EC6996;
    height: 450px;
    width: 700px;
    margin: 100px auto;
    /* position: absolute; */
}